{release, {treebuilder_treebuilder_release, "0.1.6"}, [treebuilder,
                                                       {device_manager, load},
                                                       sasl, runtime_tools, compiler
                                                      ]}.
{extended_start_script, true}.
