{release, {treebuilder_treebuilder_release, "0.1.1"}, [treebuilder,
                                                       {device_manager, load},
                                                       sasl, runtime_tools
                                                      ]}.
{extended_start_script, true}.
