[
 % useful if the connections are only possible from the device manager to the
 % interface machine (for example if the device manager is behind NAT).
 % {pinger, [{ping_hosts, ['treebuilder@treebuilder']}]},
 {device_manager, [{serial_port, "/dev/ttyACM0"},
                   {upload_dtl, "teensy_loader_cli -v -s --mcu=TEENSY31 {{hex_file}}"}
                  ]}
].
