{release, {treebuilder_local_release, "0.1.0"}, [treebuilder,
                                                       {device_manager, load},
                                                       sasl, runtime_tools
                                                      ]}.
{extended_start_script, true}.
