{release, {treebuilder_local_release, "0.1.9"}, [treebuilder,
                                                       {device_manager, load},
                                                       sasl, runtime_tools, compiler
                                                      ]}.
{extended_start_script, true}.
